.sidebar-title {
  white-space: nowrap;
  margin: 0 16px 0 0;
  font-size: 18px;
}
 
/* Hide menu labels on small screens, show icons only */
@media (max-width: 480px) {
  .sidebar-title {
    font-size: 14px;
    margin-right: 8px;
  }
 
  .ant-menu-title-content {
    display: none !important;
  }
 
}